<!DOCTYPE html>
<html>
<head>
  <title>Atndr2</title>
  
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1KIf7lRiTxjh0jO-p_9pINWn5yvzPGFA&sensor=true"></script>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
